@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #cdf348;
  --seconday-color: #8e48f3;
  --dark-grey: #21212f;
  --light-grey: #808080;
  --white: #fff;
  --orange: #ff724f;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #efeef0;
  padding-bottom: 20rem;
  color: var(--dark-grey);
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  > div:last-child {
    align-items: center;
  }

  p {
    color: var(--light-grey);
  }
}

.lang-options {
  a:first-of-type {
    padding-inline-end: 5px;
    border-inline-end: 2px solid var(--light-grey);
  }
}

.lang-options__item {
  color: var(--light-grey);
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  align-items: center;
}

.btn {
  border-radius: 100px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 700;
  min-width: 125px;
  min-height: 40px;
  padding: 0 16px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn--black {
  background-color: var(--dark-grey);
  color: var(--white);
}

.btn--black:hover {
  background-color: #fff;
  color: black;
  border: 1px solid var(--light-grey);
}

.btn--medium {
  width: 225px;
  height: 60px;
}

.btn--large {
  width: 420px;
  height: 118px;
  font-size: 1.5rem;
}

.btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.hero__title {
  font-size: 5.5rem;
  font-weight: 500;
  text-align: center;
}

.hero__p {
  font-size: 1.25rem;
  color: var(--dark-grey);
}

.hero__waitlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  text-align: left;
  background-color: var(--white);
  border-radius: 100px;
  padding: 20px 40px;
  max-width: 800px;
}

.hero__images {
  display: flex;
  position: relative;
  max-width: 355px;
  margin-top: 64px;
}

.hero__images__item--left {
  margin-top: 20%;
  margin-right: -100px;
  width: 396px;
  height: 350px;
  border-radius: 32px;
}

.hero__images__item--center {
  z-index: 1;
  width: 355px;
  height: 730px;
}

.hero__images__item--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 100px;
  margin-left: -100px;

  img:first-of-type {
    width: 148px;
    height: 148px;
  }
  img:last-of-type {
    width: 430px;
  }
}

.features {
  max-width: 1200px;
  display: flex;
  align-items: center;
  background-color: var(--dark-grey);
  color: var(--white);
  margin-top: 128px;
  padding: 40px 80px 126px;
  border-radius: 32px;
}

.features__title {
  font-size: 56px;
  line-height: 125%;
  font-weight: 500;
  span {
    border-radius: 100px;
    padding-inline: 20px;
  }
}

.features__title__span--green {
  color: var(--dark-grey);
  background-color: var(--primary-color);
}

.features__p {
  font-size: 1.25rem;
  max-width: 450px;
  font-weight: 400;
  line-height: 140%;
}

.features__image {
  width: 486px;
  border-radius: 32px;
  margin-top: -96px;
}

.about {
  max-width: 1360px;
  margin-top: 128px;
  padding: 40px 80px;
  border-radius: 32px;
  background-color: var(--white);
  color: var(--dark-grey);
}

.about__title {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
}

.about__content__item {
  display: flex;
  align-items: center;
  gap: 80px;
  p {
    font-size: 2.5rem;
    font-weight: 400;
    max-width: 560px;
  }
}

.about__content__img {
  width: 560px;
}

.single-title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 160%;
  color: var(--dark-grey);
  margin-block: 96px;
  max-width: 1360px;
  text-align: center;
}

.free-trial {
  display: flex;
  justify-content: space-around;
  border-radius: 32px;
  padding: 60px 40px 0;
  width: 1200px;
  background-color: var(--primary-color);
  color: var(--dark-grey);
}

.free-trial__content__title {
  font-size: 2.5rem;
  font-weight: 500;
  width: 460px;
  line-height: 140%;
  margin-bottom: 48px;
}

.free-trial__content__p {
  font-size: 1.5rem;
  line-height: 140%;
  font-weight: 400;
}

.free-trial__img {
  width: 314px;
  margin-bottom: 0;
}

.progress {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  color: var(--dark-grey);
}

.progress__content {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.progress__content__title {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  color: var(--dark-grey);
}

.progress__content__p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 140%;
}

.progress__content__img {
  width: 560px;
}

.exercises {
  width: 1200px;
  border-radius: 32px;
  background-color: var(--dark-grey);
  color: var(--white);
  overflow: hidden;
  padding-bottom: 80px;
}

.exercises__content {
  display: flex;
  align-items: center;
  padding: 80px;
}

.exercises__title {
  font-size: 3.75rem;
  font-weight: 500;
  width: 560px;
}

.exercises__p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 140%;
  width: 560px;
}

.carousel-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  transform: rotateZ(3deg);
}

.carousel {
  display: flex;
  gap: 16px;
  overflow: hidden;
}

.carousel--top {
  overflow: hidden;
  position: relative;

  &::after {
    left: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    right: 0;
    top: 0;
  }

  .carousel__track {
    animation: scroll-left 15s linear infinite;
    display: flex;
    width: 236px;
  }
}

.carousel__item {
  border-radius: 100px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__item__img {
  width: 236px;
  border-radius: 100px;
}

.carousel__item__chip {
  color: var(--dark-grey);
  font-size: 2.5rem;
  width: 236px;
  text-align: center;
}

.carousel--bottom {
  overflow: hidden;
  position: relative;

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .carousel__track {
    animation: scroll-right 15s linear infinite;
    display: flex;
    width: 236px;
  }
}

.advantages {
  width: 1200px;
}

.advantages__title {
  font-size: 5rem;
  font-weight: 500;
}

.advantages__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.advantages__item {
  font-size: 2.3rem;
  line-height: 120%;
  border-radius: 60px;
  padding: 60px;
}

.advantages__item--with-img {
  font-size: 2rem;
  font-weight: 400;
  border-radius: 60px;
  padding: 60px;
}

.advantages__item--grey {
  background-color: var(--dark-grey);
  color: var(--white);
  width: 325px;
}

.advantages__item--green {
  background-color: var(--primary-color);
  color: var(--dark-grey);
  width: 900px;
}

.advantages__item--white {
  background-color: var(--white);
  padding: 60px;
  width: 326px;
}

.advantages__item--purple {
  background-color: var(--seconday-color);
  color: var(--white);
  width: 320px;
  padding: 60px;
}

.faq__title {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
}

.faq__item {
  width: 1200px;
  padding: 47px 80px;
  margin-bottom: 10px;
  background-color: var(--white);
  border-radius: 32px;
}

.faq__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  cursor: pointer;

  h3 {
    margin: 0;
  }
}

.faq__item__title {
  font-size: 2.5rem;
  font-weight: 500;
}

.faq__item__details {
  font-size: 1.5rem;
  line-height: 165%;
  max-height: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.faq__item__details::before {
  content: "";
  height: 47px;
  position: relative;
  display: block;
}

.faq__item__details.open {
  max-height: 240px;
}

.chevron svg {
  transition: transform 1s ease-out;
}

.chevron.open svg {
  transform: rotateY(180deg);
}

.single-title-btn {
  font-size: 72px;
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.chip {
  border-radius: 100px;
  padding-inline: 20px;
  padding-block: 8px;
}

.chip--dark-grey {
  background-color: var(--dark-grey);
  color: var(--white);
}

.chip--purple {
  background-color: var(--seconday-color);
  color: var(--white);
}

.chip--light-green {
  background-color: var(--primary-color);
  color: var(--dark-grey);
}

.chip--orange {
  background-color: var(--orange);
  color: var(--white);
}

.chip--colorful {
  background-image: url(./bg-img.jpg);
  background-size: cover;
}

.subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--dark-grey);
}

/* animation */

@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}
@keyframes scroll-left {
  0% {
    transform: translateX(calc(-250px * 4));
  }
  100% {
    transform: translateX(0);
  }
}
